:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;

  .custom-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    background: var(--background);

    .button {
      padding-top: var(--size);
      padding-bottom: var(--size);
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: start;
      margin-left: 16px;
      z-index: 1;
    }

    .nick-read {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      justify-self: center;
      height: 32px;
      overflow-x: hidden;
      max-width: 90%;

      display: flex;
      flex-direction: row;
      align-items: center;

      .text {
        font-size: 20px;
        font-weight: 500;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .nick-write {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      justify-self: flex-end;
      overflow-x: hidden;
      width: calc(100% - 32px - 34px - 16px);

      margin-right: 16px;
    }
  }

  .edit-identity-outlet {
    flex-grow: 1;
    overflow-y: hidden;
  }
}
