<div class="sam-text-header">
  <span> Settings </span>
</div>

<span>SYNC: {{ syncFlow }}</span>

<button class="btn btn-primary" (click)="onClickExportVault()">
  Export Vault
</button>

<button class="btn btn-primary" (click)="navigate('/vault-import')">
  Import Vault
</button>

<div class="sam-flex-grow"></div>

<button
  class="btn btn-danger"
  (click)="
    confirm.show(
      'Do you really want to reset your extension? Every data will be lost.',
      onResetExtension.bind(this)
    )
  "
>
  Reset Extension
</button>

<lib-confirm #confirm> </lib-confirm>

<input
  #fileInput
  class="file-input"
  type="file"
  (change)="onImportFileChange($event)"
  accept=".json"
/>
